<div cdkDropListGroup>
  <mat-card class="container" *ngFor="let list of getJobList(); let i = index">
    <h2 class="List-title">
      {{ list.name }} ({{ list.job.length }})
      <mat-icon
        class="icon-delete"
        aria-hidden="false"
        aria-label="Delete"
        color="warn"
        (click)="deleteList(i)"
        >delete</mat-icon
      >
    </h2>

    <div
      class="list"
      cdkDropList
      [cdkDropListData]="list.job"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="box"
        *ngFor="let item of list.job; let j = index"
        cdkDrag
        [cdkDragData]="item"
      >
        {{ item }}
        <mat-icon
        class="icon-delete"
        aria-hidden="false"
        aria-label="Delete"
        color="warn"
        (click)="deleteTask(i, j)">
        delete
        </mat-icon>
      </div>
    </div>
    <mat-form-field class="full-width">
      <mat-label>New Job</mat-label>
      <input matInput [(ngModel)]="inputs[i]" (keyup.enter)="addTask(i)" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addTask(i)">
      <mat-icon
        aria-hidden="false"
        aria-hidden="false"
        aria-label="Add"
      ></mat-icon>
      Add
    </button>
  </mat-card>
</div>


  <!-- <div class="container">
    <h2>
      <mat-icon
        class="icon-delete"
        aria-hidden="false"
        aria-label="Delete"
        color="warn"
        (onclick)="deleteList()"
        >delete</mat-icon
      >To do
    </h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doingList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      *ngFor="let item of todo"
    >
      <div class="example-box" cdkDrag>
        {{ item }}
      </div>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>New Job</mat-label>
      <textarea matInput placeholder="Add something in here"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">Add</button>
  </div>

  <div class="container">
    <h2>DOING</h2>

    <div
      cdkDropList
      #doingList="cdkDropList"
      [cdkDropListData]="doing"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of doing" cdkDrag>
        {{ item }}
      </div>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>New Job</mat-label>
      <textarea matInput placeholder="Add something in here"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">Add</button>
  </div>

  <div class="container">
    <h2>Done</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[doingList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        {{ item }}
      </div>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>New Job</mat-label>
      <textarea matInput placeholder="Add something in here"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">Add</button>
  </div>

  <div class="container">
    <h2></h2>

    <mat-form-field class="example-full-width">
      <mat-label>New Job</mat-label>
      <textarea matInput placeholder="Add something in here"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">+ Add</button>
  </div> -->

